# Data Processing setup and library experimentation

In [1]:
from data_processing.data_wrangler import *

In [4]:
output_dict = DataLoad("G01V01P02_annotato.eaf","Data EAF\materials\G01\V01",['dstr','ORT','phr'])

In [31]:
output_dict

{'dstr':     ANNOTATION_ID                                     CVE_REF dstr  \
 0           a1368  cveid_d673a93d-9f59-44c4-b1a1-6c7e214c6d6f  PRL
 1           a1369  cveid_28867b92-92a6-4bb8-9ad8-665c02a73a98   SP
 2           a1370  cveid_d673a93d-9f59-44c4-b1a1-6c7e214c6d6f  PRL
 3           a1418  cveid_d673a93d-9f59-44c4-b1a1-6c7e214c6d6f  PRL
 4           a1419  cveid_9ba87e8c-e6e7-45b2-9728-4310820223ce   FP
 ..            ...                                         ...  ...
 246         a2544  cveid_1ada0200-ccfb-4bf1-a447-f998e1f5f56e  REP
 247         a2545  cveid_28867b92-92a6-4bb8-9ad8-665c02a73a98   SP
 248         a2546  cveid_d673a93d-9f59-44c4-b1a1-6c7e214c6d6f  PRL
 249         a2547  cveid_28867b92-92a6-4bb8-9ad8-665c02a73a98   SP
 250         a2548  cveid_1ada0200-ccfb-4bf1-a447-f998e1f5f56e  REP

      Begin Time  End Time   Nr
 0          1127      1558    1
 1          2482      2650    2
 2          6800      7137    3
 3          7748      8179    4
 4          8180      8362    5
 ..          ...       ...  ...
 246      516460    516810  247
 247      519693    519900  248
 248      520321    520752  249
 249      520752    520877  250
 250      520878    521090  251

 [251 rows x 6 columns],
 'ort':      ANNOTATION_ID        ORT  Begin Time  End Time    Nr
 0               a1     Allora         150       510     1
 1               a2         ci         510       700     2
 2               a3  siamo<oo>         700      1550     3
 3               a4   spostati        1550      2482     4
 4               a5       <sp>        2482      2650     5
 ...            ...        ...         ...       ...   ...
 1353         a1360       <sp>      519693    519900  1354
 1354         a1361   alla<aa>      519900    520750  1355
 1355         a1362       <sp>      520750    520878  1356
 1356         a1363       alla      520878    521090  1357
 1357         a1364  normalità      521090    521740  1358

 [1358 rows x 5 columns],
 'phr':    ANNOTATION_ID    phr  Begin Time  End Time  Nr
 0          a2576   phr1         150     15650   1
 1          a2577   phr2       15650     30616   2
 2          a2578   phr3       30616     70581   3
 3          a2579   phr4       70581     86380   4
 4          a2580   phr5       86380    102905   5
 5          a2581   phr6      102905    126897   6
 6          a2582   phr7      126897    135126   7
 7          a2583   phr8      135126    154194   8
 8          a2584   phr9      154194    168570   9
 9          a2585  phr10      168570    175190  10
 10         a2586  phr11      175190    190204  11
 11         a2587  phr12      190204    207232  12
 12         a2588  phr13      207232    233708  13
 13         a2589  phr14      233708    256212  14
 14         a2590  phr15      256212    290570  15
 15         a2591  phr16      290570    309420  16
 16         a2592  phr17      309420    328340  17
 17         a2593  phr18      328340    333962  18
 18         a2594  phr19      333962    349450  19
 19         a2595  phr20      349450    361342  20
 20         a2596  phr21      361342    384364  21
 21         a2597  phr22      384364    414275  22
 22         a2598  phr23      414275    429540  23
 23         a2599  phr24      429540    442375  24
 24         a2600  phr25      442375    481300  25
 25         a2601  phr26      481300    521740  26}

In [19]:
phr_wrangle.head()

  ANNOTATION_ID   phr  Begin Time  End Time  Nr
0         a2576  phr1         150     15650   1
1         a2577  phr2       15650     30616   2
2         a2578  phr3       30616     70581   3
3         a2579  phr4       70581     86380   4
4         a2580  phr5       86380    102905   5

In [10]:
data_wrangled = data_wrangle(output_dict)

In [8]:
#data_wrangled = data_wrangled[data_wrangled.isna()]

In [26]:
data_wrangled['Begin Time'] = data_wrangled['Begin Time'].astype('int64')
data_wrangled['End Time'] = data_wrangled['End Time'].astype('int64')

      0 ANNOTATION_ID  Begin Time  End Time  Nr       ORT  Duration
0   NaN            a1         150       510   1    Allora     360.0
1   NaN            a2         510       700   2        ci     190.0
2   NaN            a3         700      1127   3     siamo     427.0
3  <oo>           NaN        1127      1550   3     <PRL>     423.0
4   NaN            a4        1550      2482   4  spostati     932.0

In [33]:
display(data_wrangled.head())

      0 ANNOTATION_ID  Begin Time  End Time  Nr       ORT  Duration
0   NaN            a1         150       510   1    Allora     360.0
1   NaN            a2         510       700   2        ci     190.0
2   NaN            a3         700      1127   3     siamo     427.0
3  <oo>           NaN        1127      1550   3     <PRL>     423.0
4   NaN            a4        1550      2482   4  spostati     932.0

In [28]:
data_all = pd.merge_asof(data_wrangled,phr_wrangle,on='Begin Time')

In [30]:
data_all[data_all.phr=='phr1']

,0,ANNOTATION_ID_x,Begin Time,End Time_x,Nr_x,ORT,Duration,ANNOTATION_ID_y,phr,End Time_y,Nr_y
0,NaN,a1,150,510,1,Allora,360.0,a2576,phr1,15650,1
1,NaN,a2,510,700,2,ci,190.0,a2576,phr1,15650,1
2,NaN,a3,700,1127,3,siamo,427.0,a2576,phr1,15650,1
3,<oo>,NaN,1127,1550,3,<PRL>,423.0,a2576,phr1,15650,1
4,NaN,a4,1550,2482,4,spostati,932.0,a2576,phr1,15650,1
5,NaN,a5,2482,2650,5,<sp>,168.0,a2576,phr1,15650,1
6,NaN,a6,2650,2930,6,dalla,280.0,a2576,phr1,15650,1
7,NaN,a7,2930,3070,7,<sp>,140.0,a2576,phr1,15650,1
8,NaN,a8,3070,3480,8,Chiesa,410.0,a2576,phr1,15650,1
9,NaN,a9,3480,3800,9,abbiamo,320.0,a2576,phr1,15650,1
10,NaN,a10,3800,4530,10,attraversato,730.0,a2576,phr1,15650,1
11,NaN,a11,4530,4630,11,il,100.0,a2576,phr1,15650,1
12,NaN,a12,4630,5090,12,chiostro,460.0,a2576,phr1,15650,1
13,NaN,a13,5090,5190,13,dei,100.0,a2576,phr1,15650,1
14,NaN,a14,5190,6180,14,procuratori,990.0,a2576,phr1,15650,1
15,NaN,a15,6180,6610,15,<inspiration>,430.0,a2576,phr1,15650,1
16,NaN,a16,6610,7140,16,che,530.0,a2576,phr1,15650,1
17,NaN,a17,7140,8180,17,erano,1040.0,a2576,phr1,15650,1
18,NaN,a18,8180,8362,18,<ehm>,182.0,a2576,phr1,15650,1
19,NaN,a19,8362,8710,19,insomma,348.0,a2576,phr1,15650,1
20,NaN,a20,8710,8935,20,delle,225.0,a2576,phr1,15650,1
21,NaN,a21,8935,9370,21,figure,435.0,a2576,phr1,15650,1
22,NaN,a22,9370,9970,22,abbastanza,600.0,a2576,phr1,15650,1
23,NaN,a23,9970,10960,23,importanti,990.0,a2576,phr1,15650,1
24,NaN,a24,10960,11280,24,per,320.0,a2576,phr1,15650,1
25,NaN,a25,11280,11420,25,<sp>,140.0,a2576,phr1,15650,1
26,NaN,a26,11420,12022,26,<ehm>,602.0,a2576,phr1,15650,1
27,NaN,a27,12022,12130,27,e,108.0,a2576,phr1,15650,1
28,NaN,a28,12130,13020,28,funzionali,890.0,a2576,phr1,15650,1
29,NaN,a29,13020,13360,29,alla,340.0,a2576,phr1,15650,1
30,NaN,a30,13360,14070,30,vita,710.0,a2576,phr1,15650,1
31,NaN,a31,14070,14431,31,alla v+/,361.0,a2576,phr1,15650,1
32,NaN,a32,14431,14652,32,alla,221.0,a2576,phr1,15650,1
33,NaN,a33,14652,14840,33,vita,188.0,a2576,phr1,15650,1
34,NaN,a34,14840,15000,34,della,160.0,a2576,phr1,15650,1
35,NaN,a35,15000,15650,35,Certosa,650.0,a2576,phr1,15650,1

In [35]:
data_all[data_all.phr=='phr26']

,0,ANNOTATION_ID_x,Begin Time,End Time_x,Nr_x,ORT,Duration,ANNOTATION_ID_y,phr,End Time_y,Nr_y
1263,NaN,a1261,481300,482086,1256,<breath>,786.0,a2601,phr26,521740,26
1264,NaN,a1262,482086,482300,1257,bene,214.0,a2601,phr26,521740,26
1265,NaN,a1263,482300,483040,1258,questa,740.0,a2601,phr26,521740,26
1266,NaN,a1264,483040,483140,1259,in,100.0,a2601,phr26,521740,26
1267,NaN,a1265,483140,483440,1260,questo,300.0,a2601,phr26,521740,26
...,...,...,...,...,...,...,...,...,...,...,...
1361,NaN,a1360,519693,519900,1354,<sp>,207.0,a2601,phr26,521740,26
1362,NaN,a1361,519900,520750,1355,alla,850.0,a2601,phr26,521740,26
1363,NaN,a1362,520750,520878,1356,<sp>,128.0,a2601,phr26,521740,26
1364,NaN,a1363,520878,521090,1357,alla,212.0,a2601,phr26,521740,26
1365,NaN,a1364,521090,521740,1358,normalità,650.0,a2601,phr26,521740,26

In [34]:
display(data_wrangled.tail())

        0 ANNOTATION_ID  Begin Time  End Time    Nr        ORT  Duration
1361  NaN         a1360      519693    519900  1354       <sp>     207.0
1362  NaN         a1361      519900    520750  1355       alla     850.0
1363  NaN         a1362      520750    520878  1356       <sp>     128.0
1364  NaN         a1363      520878    521090  1357       alla     212.0
1365  NaN         a1364      521090    521740  1358  normalità     650.0

In [36]:
data_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1366 entries, 0 to 1365
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   0                8 non-null      object
 1   ANNOTATION_ID_x  1358 non-null   object
 2   Begin Time       1366 non-null   int64
 3   End Time_x       1366 non-null   int64
 4   Nr_x             1366 non-null   int32
 5   ORT              1366 non-null   object
 6   Duration         1366 non-null   float64
 7   ANNOTATION_ID_y  1366 non-null   object
 8   phr              1366 non-null   object
 9   End Time_y       1366 non-null   int64
 10  Nr_y             1366 non-null   int64
dtypes: float64(1), int32(1), int64(4), object(5)
memory usage: 122.7+ KB

In [ ]:
for el in range(5):
    print(el)

In [1]:
from scipy.io import wavfile

In [10]:
wavfile.read('.\Data EAF\materials\G01\V01\G01V01P02.wav')[1]

(23020200,)